.Roboto {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 40px;
}


.W900 {
font-weight: 900;
}

.W700 {
font-weight: 700;
}

.W500 {
font-weight: 500;
}

.W400 {
font-weight: 400;
}

.W300 {
font-weight: 300;
}

.W100 {
font-weight: 100;
}