.Active1 {
    text-decoration: none;
    color: red;
    font-size: 10px;
}

.Active1:hover {
    color: orange;
    font-size: 15px;
}

.Active1:visited {
    color: darkcyan;
    font-size: 20px;
}

.Active1:active {
color: blue;
}