body {
    margin: 0;
    padding: 0;
    background-color: #bbe0e6;
  }
  
  nav {
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(55, 59, 59);
    color: #ccc
  }
  
  label, input, textarea, button {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
    width: 30%;
  }

  label {
    margin: 0 auto;
    font-size: 20px;
  }

  input, textarea {
    background-color: #bfffd0;
    color: #ccc;
    border: 5px solid #ccc;
    font-size: 20px;
  }

  button {
    width: 12%;
  }
  